{% load static %}
<header class="grid lg:grid-cols-2">
    <div class="grid grid-cols-2 w-max place-items-center">
        <img width="96rem" height="auto" src="{% static 'images/logo.svg' %}" alt="">
        <h1 class="text-white font-bold text-3xl"> <span class="gradient-text">M</span>Blog</h1>
    </div>
    <nav class="hidden lg:grid place-items-center text-xl">
        <ul class="grid grid-flow-col gap-4">
            <li class="text-white font-bold cursor-pointer"><a href="/">Home</a></li>
            <li class="text-white font-bold">About</li>
            <li class="text-white font-bold">Contact</li>
            <li class="text-color3 font-bold cursor-pointer"><a href="/login">Login</a></li>
    </nav>
</header>