{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
</head>
<body>
    <h1 class="text-2xl">Hello</h1>
    <h2 class="text-4xl">Niraj</h2>
    <h2 class="text-6xl">Niraj</h2>
    <h2 class="text-6xl">Niraj</h2>
    <!-- create a div having the form of login page -->
    <div class="login">
        <form action="login" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="login">
        </form>
        <div>
            <h1>whelfjl</h1>
        </div>
    </div>
    <div>
        <h1> I am Niraj </h1>
    </div>
     
</body>
</html>